html, body {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #f5f5f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    user-zoom: none;
    margin: 0;
    scrollbar-width: 0;
    width: 100vw;
    min-height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}

body > div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0;
}

pointer{
    width: 3rem;
    height: 3rem;
    border-radius: 100rem;
    background-color: #c0c0c0;
    position: absolute;
    z-index: 20;
    transform: translateX(-10px) translateY(-10px);
}

#title {
    background: -webkit-linear-gradient(85deg, #c0c0c0, #f5f5f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7vw;
    letter-spacing: 1.5vw;
}

#server {
    cursor: pointer;
}

body > section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 25;
    align-items: center;
    backdrop-filter: blur(15px);
}

.everythingexceptthefirstthingthatsucksawfully{
    background: linear-gradient(white, #27273c);
    color: #27273c;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}